a:link{background-color: lightsalmon;
display: block;
width: 250px;
font-size: 20pt;
padding: 10px;
text-decoration: none;
color: white;
border-radius: 20px 0px 20px 0px;
margin: 10px;}
a:hover{background-color:maroon;}
a:active{background-color: darkblue;}
a:visited{color: salmon;}
